<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchListbis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed(".mov",{
        strings: [, "any kind of movies"] ,
        typeSpeed: 100,
        backSpeed: 100,
        loop: true

        })
    </script>
  </body>
</html>
